$backgroundColor: #242424;
$borderColor: #faf9f6;

:host {
  display: grid;
  grid-column: 3 / 11;
  grid-row: 2 / 10;
  background-color: $backgroundColor;

  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(12, 1fr);
  height: 100%;
}

::ng-deep .p-dialog {
  height: 400px;
  width: 400px;
  border: 1px solid $borderColor;
}

::ng-deep .p-dialog .p-dialog-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

::ng-deep .p-button {
  width: 200px;
  height: 40px;
  color: white;
  background: #121212;
}

.signup {
  grid-column: 6;
  grid-row: 4;
  justify-self: center;
}

.login {
  grid-column: 6;
  grid-row: 6;
  justify-self: center;
}

.guest {
  grid-column: 6;
  grid-row: 8;
  justify-self: center;
}

.userName {
  grid-column: 3/11;
  grid-row: 2/4;
  input {
    display: block;
    width: 100%;
  }
}

.email {
  grid-column: 3/11;
  grid-row: 5/8;
  input {
    display: block;
    width: 100%;
  }
}

.password {
  grid-column: 3/11;
  grid-row: 8;
}

::ng-deep .password .p-component {
  width: 100%;
}

.goBack {
  grid-column: 3;
  grid-row: 10;
  justify-self: center;
}

.submitSignup {
  grid-column: 5/10;
  grid-row: 10;
  justify-self: center;
}

.submitLogin {
  grid-column: 5/10;
  grid-row: 10;
  justify-self: center;
}
