$backgroundColor: #ccc9c3;

::ng-deep .p-card {
  margin-bottom: 5px;
}

::ng-deep .p-card .p-card-title {
  padding-left: 12px;
}

::ng-deep .p-card-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

::ng-deep .p-card .p-card-content {
  padding: 0 0;
}

::ng-deep .p-card .p-card-body {
  padding: 4px;
}

::ng-deep .p-avatar img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: -20% 0;
}

.fighter1Img {
  grid-column: 1;
}

.fighter1Name {
  grid-column: 2/4;
  word-spacing: 100vw;
  margin-left: 7px;
}

.fighter1Record {
  grid-column: 4;
}

.fighter1RadioButton {
  grid-column: 5;
  justify-self: center;
}

.fighter2RadioButton {
  grid-column: 8;
  justify-self: center;
}

.fighter2Img {
  grid-column: 9;
}

.fighter2Name {
  grid-column: 10/12;
  word-spacing: 100vw;
  margin-left: 7px;
}

.fighter2Record {
  grid-column: 12;
}
