$backgroundColor: #ccc9c3;

// ::ng-deep .p-card-body {
//   // display: grid;
//   // grid-template-columns: repeat(12, 1fr);
//   // grid-template-rows: repeat(12, 1fr);
//   // height: 20;
// }
// :host {
//   display: grid;
// }

// .cardContainer {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-template-rows: repeat(12, 1fr);
// }

// .p-card .p-component {
//   width: 10%;
// }

// ::ng-deep p-card p.component {
//   height: 400px;
//   grid-template-columns: repeat(12, 1fr);
//   grid-template-rows: repeat(12, 1fr);
// }

// .ngx-cardStyle {
//   margin-bottom: 5px;
// }

::ng-deep .p-card {
  margin-bottom: 5px;
  // height: 200px;
  // height: fit-content;
}

::ng-deep .p-card .p-card-title {
  padding-left: 12px;
  margin-bottom: 2px;
}

::ng-deep .p-card-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

::ng-deep .p-card .p-card-content {
  padding: 0 0;
}

::ng-deep .p-card .p-card-body {
  padding: 4px;
}

// ::ng-deep .eventTimeHeader {
//   text-align: center;
//   height: 100px;
// }

// .eventTimeHeader h1 {
//   grid-column: 1/13;
// }

.fighter1Img {
  grid-column: 1;
}

.fighter1Name {
  grid-column: 2;
  margin-left: 7px;
}

.fighter1Record {
  grid-column: 4;
}

.fighter2Img {
  grid-column: 9;
}

.fighter2Name {
  grid-column: 10;
  margin-left: 7px;
}

.fighter2Record {
  grid-column: 12;
}

// ::ng-deep .p-card .p-card-body {
//   margin-bottom: 100;
// }

// ::ng-deep .p-card {
//   background-color: $backgroundColor;
// }
