<p-card *ngFor="let ufcFightEvent of ufcFightEvents; let i = index" header="{{ufcFightEvent.eventWeightClass}}">       
        <ng-template pTemplate="header"></ng-template>
        <p-avatar class="fighter1Img" image={{ufcFightEvent.eventFighter1.fighterImage}} styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <p class="fighter1Name">{{ufcFightEvent.eventFighter1.fighterName}}</p>
        <p class="fighter1Record">{{ufcFightEvent.eventFighter1.fighterRecord}}</p>
        <p-avatar class="fighter2Img" image={{ufcFightEvent.eventFighter2.fighterImage}} styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <p class="fighter2Name">{{ufcFightEvent.eventFighter2.fighterName}}</p>
        <p class="fighter2Record">{{ufcFightEvent.eventFighter2.fighterRecord}}</p>
</p-card>
