$backgroundColor: #121212;

:host {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh; // 100% viewport height
  width: 100vw; // 100% viewport width
  background-color: $backgroundColor;
}
