$backgroundColor: #242424;

:host {
  display: grid;
  grid-column: 3 / 11;
  grid-row: 2 / 10;
  background-color: $backgroundColor;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
}

p-accordion {
  grid-column: 3 / 11;
  grid-row: 2 / 10;
}
