$backgroundColor: #f5f5f5;
$accordionContentBackgroundColor: #faf9f6;
$accordionTabBackgroundColor: #ccc9c3;
$accordionTabViewPanelBackgroundColor: #ccc9c3;
$borderColor: #242424;

:host {
  column-span: all;
}

::ng-deep .p-tabview .p-tabview-panels {
  background-color: $accordionTabViewPanelBackgroundColor;
}

::ng-deep .p-scrollpanel {
  width: 100% !important; 
  height: 600px !important;
}

::ng-deep .p-accordion .p-accordion-content {
  background-color: $accordionContentBackgroundColor;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: $accordionTabBackgroundColor;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 1px solid $borderColor;
}
